# Правила для UV Tracker проекта

## Файлы с секретами
- НИКОГДА не коммитить файл `UV Tracker/Secrets.xcconfig` в git
- Этот файл содержит API ключи и должен оставаться только локально
- При работе с секретами использовать только локальные переменные или файлы, исключенные из git

## Общие правила
- Не создавать лишних файлов пока не удостовериться что они необходимы
- Не создавать упрощенные версии файлов
- Отвечать на русском языке
